<div class="container">
  <div class="row">
    <div class="col-md-6">
    <br>
         <div style="font-family: 'Comfortaa', cursive; font-size: 30px;">EDIT LISTING</div>
         <br>
  	      <%= form_for @listing do |form| %>
            <%= render partial: '/listings/form', object: form %>
  	      <%end%>
      </div>
       
       <div class="col-md-6 right">
       </div> 

    </div>
  </div>
</div>