<div class="container">
	<div class="row">
	  <div class="col-md-3">
	  	
	  </div>

	  <div class="col-md-6">
	  <br>
	  	<%= form_for @listing do |form| %>
	  	 <div style="font-family: 'Comfortaa', cursive; font-size: 30px;">CREATE NEW LISTING</div>
	  	 <br>
	  	  <%= render partial: '/listings/form', object: form %>
	  	<% end %>
	  </div>
	  
	  <div class="col-md-3">
		<div class="col-md-3">
			
		</div>
	  </div>
	</div>
</div>

