<div id="clearance" class="sign-up">
  <h2 style="font-family: 'Comfortaa', cursive;">Mingle</h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="other-links">
      Have account? Please <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
