@import "bootstrap-sprockets";
@import "bootstrap";
@import "transactions";
@import "pages";

.error {
	color: red;
}

#mingle {
	color: #f28d8d;
	font-family: 'Inknut Antiqua', serif;
}

#mingle-logo {
	color: #ff7070;
	font-family: 'Inknut Antiqua', serif;
}

.create-header {
    color: #ff7070;
    font-size: 30px;
	font-family: 'Inknut Antiqua', serif;
}