section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.avatar-field {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


#mingle {
  color: black;
  font-family: 'Inknut Antiqua', serif;
}

#mingle-logo {
  color: #ff7070;
  font-family: 'Inknut Antiqua', serif;
}

.listing-header {
    background:rgba(255,255,255,0.5);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 35px;
    font-family: 'Inknut Antiqua', serif;
}


.create-header {
    background:rgba(255,255,255,0.5);
    color: black;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
    font-family: Courier;
}

.img-responsive img-circle {border-radius: 50%;}