.hosted-field {
	width: 200px;
	height: 30px;
	border: solid;
	margin: auto;
	margin-bottom: 20px;
}

.demo-frame {
	height: 300px;
	width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid;
	background-color: grey;
}

.demo-frame:hover {
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	background-color: white;
}

#payment {
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}
